.body {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #323839;
    height: 1.875rem;
    padding: 0 0.8rem;
    border-radius: 0.3125rem;
    user-select: none;
    transition: 200ms;
}

.body img {
    display: block;
    width: 1.1875rem;
    height: 1.1875rem;
}

.body p {
    font-size: 0.9375rem;
    color: #fff;
    font-weight: 300;
}

.body:hover {
    background-color: #4A5253;
}