.body {
    display: flex;
    position: absolute;
    top: 0;
    z-index: 1;
    left: -100%;
    flex-direction: column;
    min-width: 17.5rem;
    height: 100vh;
    padding: 0 0.75rem;
    background-color: #1c1f20;
    transition: 250ms;
}

.body.active {
    left: 0;
}

.content::-webkit-scrollbar {
    display: none;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-top: 1rem;
    width: 100%;
    padding-right: 0.3125rem;
    overflow-x: auto;
}

.content:hover.content::-webkit-scrollbar {
    display: block;
}

.flex {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}