@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';
@import '../../../scss/blueprints.scss';

.body {
    @include size(100%, 93vh);
    @include flexbox(row, center, center);

    .window {
        @include flexbox(column, center, center, 40px);
        padding: 4rem;
        border-radius: 0.3125rem;
        width: 25rem;
        background-color: #151818;

        h5 {
            @include font(1.25rem, $brand-color, 600, center);
        }

        form {
            @include flexbox(column, none, center, 1.25rem);
            width: 100%;

            fieldset {
                @include flexbox(row, center, center);
                border: 0.0625rem solid $brand-color;
                padding: 0.3125rem;
                height: 3.75rem;
                width: 100%;
                border-radius: 0.3125rem;
                
                input {
                    @include size(100%, 100%);
                    @include font(1rem, $light-font-color, 400);
                    padding: 0 0.625rem;
                }

                legend {
                    @include font(0.9375rem, $brand-color, 400);
                    margin-left: 5%;
                }
            }

            button {
                @include size(100%, 3.75rem);
                @include font(0.9375rem, $dark-font-color, 300, center);
                @extend %transition-delay;
                border: 0.0625rem solid $brand-color;
                background-color: $brand-color;
                border-radius: 0.3125rem;

                &:hover {
                    background-color: $brand-color_lighten;
                }
            }
        }
    }
}