.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    cursor: pointer;
    transition: 200ms;
    user-select: none;
}

.body img {
    display: block;
    height: 50%;
    width: 50%;
}

.body:hover {
    background-color: #323839;
}