.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
}

.body img {
    display: block;
    width: 4.375rem;
    filter: opacity(80%);
}

.body p {
    font-size: 0.75rem;
    color: #979797;
    text-align: center;
}