.body {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(38, 41, 42, 0.8);
    opacity: 0;
    pointer-events: none;
    transition: 200ms;
}

.body.active {
    pointer-events: all;
    opacity: 1;
}