.body {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 93.5vh;
    padding: 1.0625rem 3.5rem 0 3.5rem;
    overflow-y: auto;
    gap: 0.8rem;
}

.body legend {
    font-size: 1.125rem;
    font-weight: 500;
}