.body {
    max-width: 37.5rem;
    display: flex;
    gap: 0.625rem;
}

.avatar {
    display: block;
    min-width: 1.875rem;
    min-height: 1.875rem;
    max-width: 1.875rem;
    max-height: 1.875rem;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;
}

.flex {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.flex p {
    font-size: 0.8125rem;
    font-weight: 300;
    color: #979797;
}

.flex h5 {
    font-size: 0.9375rem;
    color: rgb(238, 238, 238);
    font-weight: 500;
}

.text {
    font-size: 0.9375rem;
    font-weight: 300;
    width: 37.5rem;
    word-wrap: break-word;
}

.reputation {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    cursor: pointer;
}

.reputation img {
    display: block;
    width: 0.8rem;
    height: 0.8rem;
    user-select: none;
}

.reputation p {
    font-size: 0.9375rem;
    color: rgb(231, 231, 231);
    font-weight: 300;
}