.body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #09C61C;
    border-radius: 0.3125rem;
    color: #000;
    font-size: 0.8rem;
    height: 1.875rem;
    padding: 0 1.25rem;
    font-weight: 400;
    transition: 200ms;
}

.body:hover {
    background-color: #0bdd20;
}