.body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item {
    display: flex;
    align-items: center;
    gap: 0.9375rem;
}

.avatar {
    display: block;
    width: 8rem;
    height: 8rem;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;
}

.info h5 {
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
}

.info p {
    font-size: 0.875rem;
    font-weight: 400;
    color: #979797;
}

.flex {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.subscribeButton {
    height: 4rem;
    width: 11.25rem;
}