.body {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;
}

.title {
    color: rgb(238, 238, 238);
    font-size: 1.3rem;
    font-weight: 550;
}

.flex {
    display: flex;
    align-items: center;
    gap: 1.875rem;
}

.flex p {
    font-size: 0.9375rem;
    font-weight: 300;
    color: rgb(238, 238, 238);
}