.body {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;
}

.title {
    color: rgb(204, 204, 204);
    font-size: 1.3rem;
    font-weight: 550;
}

.flex {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.flex p {
    font-size: 0.9rem;
    font-weight: 600;
    color: rgb(204, 204, 204);
}