.body {
    display: flex;
    gap: 0.625rem;
}

.avatar {
    display: block;
    min-width: 2.5rem;
    min-height: 2.5rem;
    max-width: 2.5rem;
    max-height: 2.5rem;
    user-select: none;
}

.info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.125rem;
}

.channelBox {
    display: block;
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.confirmed {
    display: block;
    width: 0.625rem;
    height: 0.625rem;  
    user-select: none; 
}

.channel {
    color: rgb(238, 238, 238);
    font-size: 0.95rem;
    font-weight: 550;
}

.counter {
    color: #979797;
    font-size: 0.75rem;
    font-weight: 400;
}

.subscribeButton {
    height: 2.5rem;
    padding: 0 1rem;
}