.body {
    width: 100%;
    padding: 1.0625rem 0 0 1.5625rem;
    display: flex;
    gap: 1.1875rem;
    flex-direction: column;
    align-items: center;
}

.header {
    display: block;
    align-self: flex-end;
    right: 0;
    width: 101rem;
    height: 15.1875rem;
}

.main {
    width: 85%;
}

.channel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.channel__item {
    display: flex;
    align-items: center;
    gap: 0.9375rem;
}

.avatar {
    display: block;
    width: 8rem;
    height: 8rem;
}

.channel__info {
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;
}

.channel__info h5 {
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
}

.channel__info p {
    font-size: 0.875rem;
    font-weight: 400;
    color: #979797;
}

.channel__info .flex {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.subscribeButton {
    height: 4rem;
    width: 11.25rem;
}