.body {
    display: flex;
    gap: 50px;
    padding: 1.5rem 5.625rem; 
    height: 95vh; 
}

.video {
    display: flex;
    flex-direction: column;
    width: 1190px;
    gap: 0.625rem;
    overflow-y: auto;
    height: 90vh; 
}

.video::-webkit-scrollbar {
    display: none;
}

.video:hover::-webkit-scrollbar {
    display: block;
}