.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem 5.625rem; 
    height: 95vh; 
}

.video {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    overflow-y: auto;
}