body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  background-color: #1c1f20;
  color: #fff;
  overflow: hidden;
}
/* width */
::-webkit-scrollbar {
  width: 0.125rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: unset;
  border-radius: 1.25rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1.25rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}