$brand-color: #09C61C;
$brand-color_lighten: lighten($brand-color, 10%);

$secondary-color: #1c1f20;
$secondary-color_lighten: lighten($secondary-color, 5%);

$dark-font-color: #000;
$light-font-color: #fff;
$secondary-font-color: #979797;