.body {
    display: none;
    flex-direction: column;
    min-width: 16rem;
    height: 95vh;
}

.body.active {
    display: flex;
}

.content::-webkit-scrollbar {
    display: none;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-top: 1rem;
    width: 100%;
    padding-right: 0.3125rem;
    overflow-x: auto;
}

.content:hover.content::-webkit-scrollbar {
    display: block;
}